*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.container {
    border :1px solid black ;
    height: 75vh;
    width: clamp(25rem,60%,30rem);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    padding: 2%;
    
}

#one {
    max-height: 40%;
    max-width: 38%;
    border-radius: inherit;


}

img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

#two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 40%;
    max-width: 55%;
    row-gap: 10%;
}
p{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
span {
    font-weight: 100;
     font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.span {
    text-transform: uppercase;
}

.line {
    border-bottom: 1px solid black;
    width: 950%;
    height: 1%;
}
#three{
    max-height: 28%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    line-height: 1.5;

}
h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-transform: capitalize;
}

#four{
    max-height: 28%;
    display: flex;
    flex-direction: column;
    row-gap: 20%;
}
