*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    font-size: 20px;
    

}

.container {
       background-color: aliceblue;
       height:28rem ;
       width: 23rem;
       margin: 3rem auto;
       border-radius: 10px;
       border: 3px solid black;
       display:flex; 
       flex-wrap: wrap;
       }

img {   
       
    height: 10rem;
    width: 8rem;
    margin: 1rem;
}   


.emm{
    text-transform: capitalize;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ok {
        color: rgb(130, 127, 127);
        border-bottom: 2px solid rgb(96, 154, 196);
        font-weight: 100;

    }

.ok1{
    text-transform: uppercase;
    font-weight: bolder;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} 
 .two {
    margin: 40px 10px;
    height: 8rem;
    line-height: 3rem;
    

}  
.three {
     margin-top: -8rem;
     margin-left: 2rem;
     line-height: 3rem;       
    

} 

.one{
        height: 12rem;

}
