*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    overflow: hidden;

}
.parent{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #aaa;
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    align-items: start;
    column-gap: 4rem;
    row-gap: 5rem;
    

}
.childs{
    width: 40%;
    height: 30%;
    border: 2px solid black;
    margin: 10px;
    background-color: #fff;
}

